@model TesteTecnicoEL.Dominio.Locacao.Aluguel

@using System.Globalization;

@{ 
    var horas = (int)Math.Ceiling(Model.DataDevolucaoPrevista.Subtract(Model.DataInicio).TotalHours);
}

<div class="text-danger">
    @if (ViewBag.Erro != null)
    {
        @if (ViewBag.Erro[0] == "UnauthorizedAccessException")
        {
            @Html.Raw("Você deve estar autenticado para confirmar a locação.");
        }
        else
        {
            @Html.Raw(string.Join("<br />", ViewBag.Erro as string[]));
        }
    }
</div>
<div class="form-group">
    <label asp-for="DataInicio" class="control-label"></label>
    <input asp-for="DataInicio" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="DataDevolucaoPrevista" class="control-label"></label>
    <input asp-for="DataDevolucaoPrevista" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="control-label">Tempo de Reserva</label>
    <input type="text" class="form-control" value="@horas @(horas == 1 ? "hora" : "horas")" readonly />
</div>
<div class="form-group">
    <label asp-for="Veiculo" class="control-label"></label>
    <input type="text" class="form-control" value="@Model.Veiculo.Modelo.Marca.Nome @Model.Veiculo.Modelo.Nome @Model.Veiculo.AnoFabricacao - Placa @Model.Veiculo.Placa" readonly />
</div>
<div class="form-group">
    <label asp-for="ValorAluguel" class="control-label"></label>
    @Html.TextBox("Valor", Model.ValorAluguel.ToString("C", new CultureInfo("pt-BR").NumberFormat), new { @class="form-control", @readonly="true" })
    @*<input asp-for="ValorAluguel" class="form-control" readonly />*@
    <span asp-validation-for="ValorAluguel" class="text-danger"></span>
</div>
