@model IEnumerable<TesteTecnicoEL.Dominio.Veiculos.Veiculo>
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}

@{
    var veiculos = Model.OrderBy(m => m.IdCategoria).ThenBy(v => v.Modelo.Marca.Nome).ThenBy(v => v.Modelo.Nome);
    var veiculosPorCategoria = veiculos.GroupBy(v => v.IdCategoria);
}

<h1>Veículos por categoria</h1>
<hr />

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<label onclick="alternaSomenteAtivos();">
    @Html.CheckBox("ver-somente-disponiveis", false, new { }) Versomente veículos disponíveis
</label>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    @for (int indice = 0; indice < veiculosPorCategoria.Count(); indice++)
    {
        var grupo = veiculosPorCategoria.ElementAt(indice);
        <li class="nav-item">
            <a class="nav-link @(indice == 0 ? "active" : string.Empty)" id="aba-categoria-@indice" data-toggle="tab" href="#conteudo-categoria-@indice" role="tab" aria-controls="conteudo-categoria-@indice"
               aria-selected="@(indice == 0 ? "true" : "false")">
                @grupo.First().Categoria.Codigo - @grupo.First().Categoria.Nome
            </a>
        </li>
    }
</ul>

<div class="tab-content" id="myTabContent">

    @for (int indice = 0; indice < veiculosPorCategoria.Count(); indice++)
    {
        var grupo = veiculosPorCategoria.ElementAt(indice);
        <div class="tab-pane fade @(indice == 0 ? "show active" : string.Empty)" id="conteudo-categoria-@indice" role="tabpanel" aria-labelledby="aba-categoria-@indice">
            <div class="container container-carros">
                <div class="row">
                    @foreach (var item in grupo)
                    {
                        <div class="col-md-6 col-lg-4 @(item.Disponivel ? string.Empty: "indisponivel")">
                            <div class="card rounded-0 card-hover-overlay card-listing">
                                <div class="position-relative">
                                    <img class="card-img rounded-0 listing-img" src="~/veiculos/exemplo.jpg" alt="Imagem ilustrativa">
                                </div>

                                <div class="card-footer bg-transparent">
                                    <ul class="list-unstyled d-flex mb-0 py-2">
                                        <li>
                                            @item por apenas <span class="preco-aluguel-hora">@item.ValorHora.ToString("C", new CultureInfo("pt-BR").NumberFormat)</span>/hora
                                        </li>
                                        <li class="ml-auto">
                                            @if (item.Disponivel)
                                            {
                                                @Html.ActionLink("Selecionar", "Simular", "Aluguel", new { id = item.Id })
                                            }
                                            else
                                            {
                                                @Html.Raw("Indisponível")
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>

